.wrapper {
  display: grid;
  grid-template-columns: 180px 1fr 370px;
  height: calc(100vh - 90px);
}

.left {
  border-right: 1px solid #e5e7eb;
  background: #fafafa;
  overflow-y: auto;
}

.center {
  padding: 24px;
  overflow-y: auto;
}

.right {
  border-left: 1px solid #e5e7eb;
  background: #ffffff;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 260px 1fr;
  }

  .right {
    display: none;
  }
}
