.container {
  padding: 16px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.job {
  padding: 12px;
  border-radius: 10px;
  background: #f9fafb;
  text-decoration: none;
  color: #111827;
  border: 1px solid #e5e7eb;
  transition: background 0.2s ease;
}

.job:hover {
  background: #eef2ff;
}

.jobTitle {
  font-size: 14px;
  font-weight: 500;
}

.meta {
  font-size: 12px;
  color: #6b7280;
}

.organization {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    padding-top: 2px;
}

.viewAll {
    padding: 5px;
    position: relative;
    top: 20px;
    font-size: 16px;
    font-weight: 700;
}
