@import "../styles/variables.scss";

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  color: $primary;
}


.subtitle {
  text-align: center;
  color: $text-secondary;
  margin-bottom: 30px;
}

.step {
  background: $bg-panel;
  border-radius: 16px;
  padding: 24px;
  box-shadow: $shadow;
  margin-bottom: 32px;

  h3 {
    margin-bottom: 8px;
    color: $primary;
  }

  p {
    color: $text-secondary;
    margin-bottom: 16px;
  }
}

.actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  a {
    flex: 1;
    text-align: center;
    background: linear-gradient(
      135deg,
      $primary,
      #818cf8
    );
    color: white;
    padding: 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
  }
}
